# Ignore Python virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.sqlite3

# Django static/media files
/mycolony/static/
/media/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store

# Git
.git/
